.semaforo {
  background-color: rgb(0, 0, 0);
  width: 90px;
  height: 250px;
  border-color: black 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}

.rojo {
  background-color: red;
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-color: black solid 1px;
  padding: auto;
}

.amarillo {
  background-color: yellow;
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-color: black solid 1px;
  padding: auto;
}

.verde {
  background-color: green;
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-color: black solid 1px;
  padding: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 90px;
  background-color: black;
}

.active {
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
}
